# URL base da API do Backend .NET (Ex: https://localhost:7114)
VITE_BACKEND_URL="https://localhost:7114"

# Chave pública do Clerk para Autenticação (disponível no dashboard do Clerk)
VITE_CLERK_PUBLISHABLE_KEY=""