# Variáveis para docker-compose
GITHUB_USERNAME=seu-usuario-github

# Backend (.NET)
ConnectionStrings__AppDbContext=Host=host.docker.internal;Database=financas;Username=postgres;Password=suasenha
clerkApiKey=sk_test_...
frontendUrl=https://app.seudominio.com

# Frontend (Vite) - Necessárias no momento de build da imagem no GitHub Actions
VITE_BACKEND_URL=https://api.seudominio.com
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
